body {
    text-align: center;
	font-family: 'Titillium Web', sans-serif;
}

.button {
    position: relative;
    top: 30vh;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
    padding: 10px 70px;
    text-decoration: none;
	border: 1px solid white;
	background-color: skyblue;
	color: white;
	z-index: 0;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	color: black;
}
a:active {
	text-decoration: none;
	color: black;
}