.people-card {
    width: 200px;
    border: 1px solid whitesmoke;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 5%;
    color: whitesmoke;
    background-color: gray;
    opacity: 0.75;
}

hr {
    width: 80%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}